.order-layout-wrapper{
width: 100%;
height: 100vh;
background: #ccc;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
}

.card-order{
  width: 70%;
  height: 400px;
  background-color: aquamarine;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}
.wrap-txt{
padding: 5px;
  margin: 1rem;
  border-radius: 9px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
span{
  
  
}