.order-layout-wrapper{
width: 100%;
height: 100vh;
background: #ccc;
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;
}

.card-order{
  width: 70%;
  height: 400px;
  background-color: aquamarine;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
}
