.order-table{
  font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.order-table td,
.order-table th {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

.order-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-table tr:hover {
  background-color: #ddd;
}

.order-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #133;
  color: white;
}

.wrap-txt {
  padding: 5px;
  margin: 1rem;
  border-radius: 9px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-wrap {
  width: 100%;
  margin: 1rem;
}

button {
  height: 45px;
  border: none;
  width: 200px;
  background: #133;
  border-radius: 5px;
  color: white;
  cursor: pointer;

}

button:hover {
  background-color: #ccc;
  color: #133;
  border: 1px solid #133;

}

.delete-btn {
  margin: 2px;
  cursor: pointer;
  
}

.delete-btn:hover {
color: #ccc;
  background: #133;
}