.login-wrapper{
  width:100vw ;
  height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-card{
  width: 35%;
  height: 300px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  padding: 2rem;
}
h1{
  color: black;
  font-size: 24px;
  margin: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 40px;
  align-self:self-start;
}
span{
text-align: start;
align-self: flex-start;
justify-self: flex-start;
}
.login-input-wrap{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 1rem;
  border-radius: 9px;
  background: #ccc;
  
}
.form-login{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  width: 100%;
  height: 40px;
  border-radius: 9px;
  border: none;
  padding: 5px;
  margin: 1rem 0rem 1rem 0rem;

}

/* loading */
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #333;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;

  animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}